form {
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 30px; /* new; value for demo purposes only */
}
.contact-form-input {
  margin-top: 6px;
  margin-bottom: 6px;
  border-radius: 6px;
  padding: 8px;
  font-size: 12px;
  font-weight: 600;
  border: none;
  border-bottom: 2px solid aquamarine;
}

.contact-form-send {
  display: flex;
  margin: 10px 40px;
  padding: 8px;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
}
.fa-paper-plane {
  margin-right: 12px;
}

@media screen and (max-width: 720px) {
  form {
    justify-content: center;
  }
}
